.post{
    height: fit-content;
    padding:3rem 3rem;
    background: grey;
    width: fit-content;
    min-width: 30%;
    margin:  5rem 0;
}

.post-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.profile-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}


.post-body{
    width: 35vw;
}
.post-img{
    margin-top: 2rem;
     width: 100%;
    margin-bottom: 2rem;
    height: auto;
}

.inter-section{
    display: flex;
    gap: 1rem;
}


 
.inter-section i::before{
    font-size: 26px;
}